
.charts{
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
    margin: 0 auto;
    width: 7350px;
    .title-name{
        display: block;
        font-size: 120px;
        color: #00ecfc;
        margin-top: 100px;
        margin-left: 1500px;
    }
     .right{
        font-size: 120px;
        color: #00ecfc;
        position: absolute;
        top: 100px;
        left: 6700px;
    }
    .left{
         display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 7350px;
        .charts-main, .ybp{
            position: relative;
        }
        .ybp{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #00ecfc;
            width: 1200px;
            height: 1855px;
            margin: 0 auto;
            .info{
                width: 1400px;
                color: #00ecfc;
                .main{
                    color: '#00ecfc';
                    border-color: #00ecfc;
                    td, th{
                        width: 400px;
                        height: 135px;
                        text-align: center;
                        font-size: 70px;
                    }
                }
            }
        }
    }
  
   
}
.charts-main{
    width: 4750px;
}